*.DS_Store
.DS_Store
tracklists/240402-kiosk.txt
images/icon.ico
tracklists/240305-kiosk.txt
tracklists/240402-kiosk.json
tracklists/240507-kiosk.txt
tracklists/kiosk_240702_tracklist.txt
.DS_Store
images/mixes/.DS_Store
images/.DS_Store