body {

    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: dimgrey;
    background-color: whitesmoke;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 16px;


}


#social a {
    color: dimgrey;


}

.hidden {
    display: None;
}



.flex-container3 {


    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #696969;

}

.row1  {
    border-right: 1px solid #696969;
    border-bottom: 1px solid #696969;

    width: 100%;


}

.row2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;


}

.border {
    border: 1px solid dimgrey;
    border-radius: 61px 61px 61px 61px;
    -webkit-border-radius: 61px 61px 61px 61px;
    -moz-border-radius: 61px 61px 61px 61px;
}

.decoration {

    border-bottom: 1px solid #696969;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

}

#mc_embed_signup  {
    background:#fff;
    clear:left;
    width:600px;
   /* font-family: 'Arapey', serif; */
    margin-left: 5%;
    /* margin-right: auto; */
}


#iframeBandcamp {
    border: 0;
    width: 100%;
    height: 33px;

}


#banner {
    display: block;
/*    margin-left: auto;
    margin-right: auto; */
  /*  height: 400px; */
    width: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 2%;
}

.placeholder_live {
    height: 40px;

}


#list_text {
  /*  font-size: 10px; */
    float: left;
}


#header {
  /*  font-family: 'Arapey', serif; */
    color: dimgrey;
    position: fixed;
    top: 0;
    margin-left: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: 0 0 0 0;
    z-index: 1;
    border-bottom: 1px solid #696969;


}

#mixplayer {
    margin-left: 5%;
    margin-right: 60%;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

}

.li_left {
    position:relative;
    float: left;
    margin-left: 5%;

}

.li_right {
    position:relative;
    float: right;
    margin-right: 10px;
}



li a {
    display: block;
    color: dimgrey;
   /* font-family: 'Arapey', serif; */
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
 /*   font-size: 18px; */

}




.mix_head {
   /* font-size: 40px; */
   border: 11px double #4F4F4F;
    border-radius: 23px;
    max-width: 450px;

}



p {

 /*   font-family: 'Arapey', serif; */
  /*  font-size: 20px; */
 /*   text-align: center; */
    margin-left: 5%;
    margin-right: 5%;

}

h2 {

    /*   font-family: 'Arapey', serif; */
    font-size: 20px;
  /*  text-align: center; */
    margin-left: 5%;
    margin-right: 5%;

}


.flex-container {

    display: flex;
    flex-direction: column;
    height: 100%;
}


.flex-container_2 {

    display: flex;
    flex-direction: column;
    height: 100%;
  /*  margin-left: 30px;
    margin-right: 30px; */
  /*  justify-content: center;
    align-items: center; */

}




.decoration_radio {
  /*  text-align: center; */
    margin-top: -10px;
    margin-bottom: 40px;
  /*  font-size: 18px; */
}



.image_center {
    display: block;
    margin-left: auto;

}


.live_image {
    height: 50%;
    width: 50%;
}


.container {
    position: relative;


}

.image {
    display: block;
    height: 300px;
    width: 300px;
}





#footer {
    flex-shrink: 0;
}


.mix_image_large {
    width: 500px;
    height: 500px;
    margin-left: 5%;


}



.break {
    height: 20px;
}



.release_image_large {
    width: 800px;
    height: 500px;

}

.tracklist_div {
    max-width: 400px;
    margin-left: 5%;
}


.tracklist {
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
   /* font-family: 'Cutive Mono', monospace; */
   /* font-family: 'Arapey', serif; */
    list-style: none;
    padding: 0;

}


#text_mix_main {
    z-index: 2;
    margin-top:50px;
}

.font_size {
    font-size: 15px;
}

.font_size_2 {
    font-size: 18px;
}


#placeholder {
    display: none;
}




.flex-container {
    display: flex;
    flex-direction: row;
 /*   justify-content: center; /* center items horizontally, in this case */
 /*    align-items: center;     /* center items vertically, in this case */

}




@media only screen and (max-device-width: 480px) {

    .hidden {
        display: block;
    }


    .row2 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;


    }

    .flex-container3 {
        display: flex;
        flex-direction: column !important;
    }

    #bandcamp_web {
        display: none !important;
    }

    li a {
        font-size: 35px !important;
        margin-top:5px;
        margin-bottom:5px;
    }

    #placeholder {
        display: block;
        height: 50px;
        width: 100%;
        background-color: white;
    }

    .main_text {
        font-size: 30px !important;
        /* margin-left: 10px; */
    }



    #banner {
        height: 80% !important;
        width: 80% !important;
        margin-bottom: 40px !important;
        margin-top: 40px  !important;
    }

    p {
        font-size: 30px !important;

    }

    h2 {

        font-size: 30px !important;

    }

    .tracklist {

        font-size: 20px !important;

    }

    .mybanner {
        height: 60% !important;
        width: 60% !important;

    }

    .table {
        margin-left: auto !important;
        margin-right: auto !important;
    }



    .decoration_radio {
        font-size: 18px !important;
    }


    #iframeBandcamp {
        display: block; !important;
       margin-right: auto; !important;
        margin-left: auto; !important;
    }



    .marginMobile {

        height: 20px;
    }

    .hide {
        display: none;

    }


    #mixplayer {
        margin-left: 5%;
       /* margin-right: 40% !important; */
    }


}




/*

@media screen and (max-width: 992px) {

    #extra_margin {
        margin-top: 100px;
    }

    #get_weird {
        display: none;
    }

}
*/
